<!doctype html>
<html>
<head>
<title>Supersede</title>
<link href="js/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="css/wp5app.css" rel="stylesheet">
<link href="css/supersede_style.css" rel="stylesheet">

<link href="jqx/styles/jqx.base.css" rel="stylesheet">
<link href="jqx/styles/jqx.bootstrap.css" rel="stylesheet">

<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
</style>
</head>

    <body ng-app="w5app" ng-cloak class="ng-cloak">
        
        <div id="page" class="site">
			<header id="masthead" class="site-header">
				<div id="top-header">
					<div class="ak-container">
						<div class="site-branding">
							<a href="#/"><img src="img/SupersedeLogo_outline.png"/></a>
						</div>
						<div ng-show="authenticated" class="tenant">
							<img class="tenant-img" src="img/{{user.tenantId}}.jpg"/>
						</div>
					</div>
				</div>
	
			    <nav id="site-navigation" class="main-navigation menu-left">
					<div ng-controller="navigation" class="ak-container">
						<h1 class="menu-toggle">Menu</h1>
					    <div class="menu-menu-1-container">
					    	<ul class="nav navbar-nav">
					    		<li ng-show="authenticated">
					        		<a href="#/dashboard">Dashboard</a>
					        	</li>
					        	<li ng-show="authenticated" ng-repeat="application in applications" ng-if="checkApplicationUrl(application)">
					     			<a class="dropdown-toggle">{{application.applicationLabel?application.applicationLabel:application.applicationName}}</a>
					        		<ul class="dropdown-menu">
				                		<li ng-repeat="page in application.pages">
				                			<a ng-href="#/{{application.applicationName}}/{{page.name}}">{{page.label?page.label:page.name}}</a>
				                		</li>
				                	</ul>
					        	</li>
						    </ul>
							<ul class="nav navbar-nav navbar-right">
					      		<li ng-show="authenticated">
					      			<p class="navbar-text p-welcome">Welcome, {{user.name}}</p>
					      		</li>
					      		
					      		<li ng-show="authenticated">
					      			<a class="dropdown-toggle"><img src="img/flags/{{currentLang}}.png" height="32" width="32"></img></a>
					      			<ul class="dropdown-menu">
					      				<li class="dropdown-inline" ng-repeat="l in langs">
					      					<a ng-click="setCurrentLang()" class="a_button"><img src="img/flags/{{l.lang}}.png" height="32" width="32"/> {{l.language}}</a>
					      				</li>
					      			</ul>
					      		</li>
					      		
					     		<li ng-show="authenticated">
					     			<a class="dropdown-toggle">{{notificationsCount}} <span class="glyphicon glyphicon-comment"></span></a>
					     			<ul class="dropdown-menu">
							        
							        	<li class="dropdown-inline" ng-repeat="notif in notifications | orderBy:'creationTime' | limitTo:5">
							        		<a ng-show="!notif.link" ng-click="readNotification()" class="a_button">
							        			<span class="glyphicon" ng-class="{'glyphicon-check': notif.read == true, 'glyphicon-unchecked': notif.read == false}"></span>
							        		</a>
							        		<a ng-show="!notif.link" class="a_message">{{notif.message}}</a>
							        	
							        		<a ng-show="notif.link" ng-click="openNotificationLink()" class="a_button">
							        			<span class="glyphicon glyphicon-link"></span>
							        		</a>
								        	<a ng-show="notif.link" ng-click="openNotificationLink()" class="a_message">
								        		{{notif.message}}
								        	</a>
							        	
							        		<a ng-click="deleteNotification()" class="a_button"><span class="glyphicon glyphicon-remove"></span></a>
							        	</li>
							        
								        <li>
								        	<a href="#/notifications">Show all</a>
								        </li>
							   		</ul>
					     		</li>
					        
						        <li ng-show="!(authenticated)"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
							    <li ng-show="authenticated"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					      	</ul>
					    </div>
					</div>
				</nav>
        
        	</header>
        
	        <div ng-view class="container site-content" id="content"></div>
	        
	        <footer id="colophon" class="site-footer" role="contentinfo">
	        	<div id="top-footer">
	        		<div class="ak-container">
	        			<div class="footer1 footer"></div>
	        			<div class="footer2 footer"></div>
	        			<div class="clearfix hide"></div>
	        			<div class="footer3 footer">
	        				<aside id="text-4" class="widget widget_text">
		        				<div class="textwidget">
		        					<img src="https://www.supersede.eu/wp-content/uploads/2015/07/flag_yellow_low.jpg" alt="EU-Flag " height="94" width="140">
		        					<p> This project has received funding from the European Union's ICT 2014 - INFORMATION AND COMMUNICATIONS TECHNOLOGIES PROGRAMME under grant agreement no 644018</p>
		        				</div>
	        				</aside>
	        			</div>
	        			<div class="footer4 footer">
	        				<aside id="text-5" class="widget widget_text">
	        					<div class="textwidget">
	        					</div>
	        				</aside>
	        			</div>
	        		</div>
	        	</div>
	        	<div id="bottom-footer">
	        		<div class="ak-container">
		        		<div class="copyright"> Copyright © 2015 <a href="https://www.supersede.eu"> SUPERSEDE				</a>
		        		</div>
	        		</div>
	        	</div>
	        </footer>
        
        </div>
        
        <script src="js/jquery-2.1.4.min.js" type="text/javascript"></script>
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/angular-route.min.js" type="text/javascript"></script>
        <script src="js/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/w5app.js"></script>
        
        <script src="jqx/jqx-all.js"></script>
    </body>
</html>