<div ng-controller="navigation">

	<jqx-menu id="navigationMenu" jqx-width="'60%'" jqx-height="'30px'" style="margin: 0 auto;">
		<ul>
			<li>
		    	<a href="#/">Home</a>
			</li>
			<li ng-show="authenticated">
				<a href="#/dashboard">Dashboard</a>
			</li>
			
			<li ng-show="authenticated && checkApplicationUrl()">
				<a>{{currentApplication.applicationLabel?currentApplication.applicationLabel:currentApplication.applicationName}}</a>
				<ul>
					<li data-ng-repeat="page in currentApplication.pages">
						<a ng-href="#/{{currentApplication.applicationName}}/{{page.name}}">{{page.label?page.label:page.name}}</a>
					</li>
				</ul>
			</li>
			
			<div style="float: right;">
				<li style="cursor: default;" ng-show="authenticated"><a >Welcome, {{user.name}}</a></li>
			
				<li ng-show="authenticated">
	      			<a><img src="img/flags/{{currentLang}}2.png" height="20" width="32" style="position: relative; top: -2px;"></img></a>
	      			<ul>
	      				<li ng-repeat="l in langs">
	      					<a ng-click="setCurrentLang()"><img src="img/flags/{{l.lang}}2.png" height="20" width="32"/>
	      						<span style="position: relative; top: -4px;">{{l.language}}</span>
	      					</a>
	      				</li>
	      			</ul>
	      		</li>
			
				<li ng-show="authenticated">
	     			<a style="position: relative; top: -6px;">{{notificationsCount}} </a>
	     			<img src="img/envelope.png" height="20" width="20" style="position: relative; top: -2px;"/>
	     			<ul>
			        
			        	<li ng-repeat="notif in notifications | orderBy:'creationTime' | limitTo:5">
			        		<a ng-show="!notif.link" ng-click="readNotification()">
			        			<span class="glyphicon" ng-class="{'glyphicon-check': notif.read == true, 'glyphicon-unchecked': notif.read == false}"></span>
			        		</a>
			        		<a ng-show="!notif.link">{{notif.message}}</a>
			        	
			        		<a ng-show="notif.link" ng-click="openNotificationLink()">
			        			<span class="glyphicon glyphicon-link"></span>
			        		</a>
				        	<a ng-show="notif.link" ng-click="openNotificationLink()">
				        		{{notif.message}}
				        	</a>
			        	
			        		<a ng-click="deleteNotification()"><span class="glyphicon glyphicon-remove"></span></a>
			        	</li>
			        
				        <li>
				        	<a href="#/notifications">Show all</a>
				        </li>
			   		</ul>
	     		</li>
			
				<li ng-show="!(authenticated)"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<li ng-show="authenticated"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</div>
        </ul>
	 </jqx-menu>
</div>