<div ng-controller="navigation">

	<jqx-menu id="navigationMenu" jqx-width="'60%'" jqx-height="'30px'" style="margin: 0 auto;" jqx-settings="navigationMenuSettings">
		<ul>
			<li>
		    	<a href="#/">Home</a>
			</li>
			<li ng-show="authenticated">
				<a href="#/dashboard">Dashboard</a>
			</li>
			
			<li ng-show="authenticated && checkApplicationUrl()">
				<a>{{currentApplication.applicationLabel?currentApplication.applicationLabel:currentApplication.applicationName}}</a>
				<ul>
					<li data-ng-repeat="page in currentApplication.pages" class="jqx-item jqx-menu-item jqx-rc-all" ng-class="{'jqx-fill-state-hover jqx-menu-item-hover ':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" role="menuitem">
						<a ng-href="#/{{currentApplication.applicationName}}/{{page.name}}">{{page.label?page.label:page.name}}</a>
					</li>
				</ul>
			</li>
			
			<div style="float: right;">
				<li style="cursor: default;" ng-show="authenticated"><a >Welcome, {{user.name}}</a></li>
			
				<li ng-show="authenticated">
	      			<a><img src="img/flags/{{currentLang}}2.png" height="20" width="32" style="position: relative; top: -2px;"></img></a>
	      			<ul>
						<li ng-repeat="l in langs" class="jqx-item jqx-menu-item jqx-rc-all" ng-class="{'jqx-fill-state-hover jqx-menu-item-hover ':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" role="menuitem">
	      					<a ng-click="setCurrentLang()"><img src="img/flags/{{l.lang}}2.png" height="20" width="32"/>
	      						<span style="position: relative; top: -4px;">{{l.language}}</span>
	      					</a>
	      				</li>
	      			</ul>
	      		</li>
			
				<li ng-show="authenticated">
	     			<a style="position: relative; top: -6px;">{{notificationsCount}} </a>
	     			<img src="img/envelope.png" height="20" width="20" style="position: relative; top: -2px;"/>
	     			<ul>
				        <li>
				        	<a href="#/notifications">Show all</a>
				        </li>
			   		</ul>
	     		</li>
			
				<li ng-show="!(authenticated)"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<li ng-show="authenticated"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</div>
        </ul>
	 </jqx-menu>
</div>