
/* don't remember... */
.open> ul>li.dropdown-inline {
    display: inline-flex !important;
}

/* change pointer on ng-click, etc... */
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/* Welcome username */
.p-welcome {
	text-transform: none !important;
}

/* tenant img */
.tenant {
	float: right;
    padding: 15px 0;
}

.tenant-img {
	height: 51px !important;
}

/* notifications preview */
.a_button {
	min-width: 10px !important;
}

.a_message {
	min-width: 350px !important;
	max-width: 350px !important;
	overflow-x: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    vertical-align: bottom !important;
}

/* footer fixed at page bottom */
footer {
	width: 100% !important;
	bottom: 0 !important;
}

/* fixing nav bar with supersede css */
.navbar-nav>li>a {
	padding: 0px 15px !important;
	line-height:inherit !important;
}

.main-navigation ul ul a {
	display: inline-block !important;
}

.main-navigation li {
	color: white !important;
}

.navbar-nav>li>p {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

/* navigation dropdown submenu */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* dashboard */
.dashboard-content {
	width:100%;
}

.gadget {
    margin: 5px;
    padding: 5px;
    width: 49%;
    min-width: 49%;
    display: inline-block;
    float: left;
}

.gadget-full {
	width: 100%;
	min-width: 100%;
}

.gadget-title {
	cursor: move;
	background-color: #F15A22;
	width: 100%;
	max-width: 100%;
	height: 25px;"
}

.gadget-button-bar {
	float: right;
}

.gadget-button {
	color: white;
	margin-right: 3px;
}