   	<script src="game-requirements/js/emit_view.js"></script>    	
	<div class="jumbotron">
      <div class="container">
        <h1>Solve the conflict considering the arguments!</h1>
        <p>Here there are two arguments related to the requirements, choose what is best.</p>
      </div>
   	</div>   
    <div class="container" ng-controller="emit_view">
    	<div class="row">
    		<div class="col-md-6">	
				<div class="panel panel-primary">
				  <div class="panel-heading">
				      	First requirement		  
				  </div>
				  <div class="panel-body">
						<p><b>Requirement name:</b> {{judgeMove.move.firstRequirement.name}}</p>
						<p><b>Requirement description:</b> {{judgeMove.move.firstRequirement.description}}</p>
						<br>
						<p><b>Argument for the requirement:</b> {{judgeMove.firstArgument.content}}</p>
				  </div>
				</div>
				<div align="center">
					<a href="#/game-requirements/judge_moves" ng-click="selectWinner('first')" class="btn btn-lg btn-success" role="button">Choose First</a>
				</div>					
			</div>	
	    	<div class="col-md-6">	
				<div class="panel panel-primary">
				  <div class="panel-heading">
				      	Second requirement
				  </div>
				  <div class="panel-body">
						<p><b>Requirement name:</b> {{judgeMove.move.secondRequirement.name}}</p>
						<p><b>Requirement description:</b> {{judgeMove.move.secondRequirement.description}}</p>
						<br>
						<p><b>Argument for the requirement:</b> {{judgeMove.secondArgument.content}}</p>   	    	
				  </div>
				</div>
				<div align="center">
					<a href="#/game-requirements/judge_moves" ng-click="selectWinner('second')" class="btn btn-lg btn-success" role="button">Choose Second</a>		
				</div>					
			</div>			
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">
				      	Choose the first requirement but insert personal argument				  
				  </div>
				  <div class="panel-body">
						<textarea class="form-control" rows="5" ng-model="judgeFirstArgument"></textarea>  
				  </div>
				</div>
				<div align="center">
					<a href="#/game-requirements/judge_moves" ng-click="selectWinner('firstPersonal')" class="btn btn-lg btn-success" role="button">Choose First with personal argument</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">
				      	Choose the second requirement but insert personal argument			  
				  </div>
				  <div class="panel-body">
						<textarea class="form-control" rows="5" ng-model="judgeSecondArgument"></textarea>  
				  </div>
				</div>
				<div align="center">
					<a href="#/game-requirements/judge_moves" ng-click="selectWinner('secondPersonal')" class="btn btn-lg btn-success" role="button">Choose Second with personal argument</a>
				</div>			
			</div>
		</div>						
    </div>