    <script src="game-requirements/js/game.js"></script>		            
	<div class="container">			
		<div class="row" ng-controller="game">
			<div class="col-md-6">
				<h1>Game details</h1>
				<p>ID: <b>{{game.gameId}}</b></p>
				<p>Title: <b>{{game.title}}</b></p>	
				<p>Description: <b>{{game.description}}</b></p>				
				<p>Criterias: <b ng-repeat="criteria in game.criterias">{{criteria.name}}, </b></p>
				<p>Requirements: <b ng-repeat="requirement in game.requirements">{{requirement.name}}, </b></p>
				<p>Players: <b ng-repeat="player in game.players">{{player.name}}, </b></p>
			</div>			
			<div class="col-md-6">
				<h1>Calculate requirements ranks</h1>
				<p>Click the button for calculate the ranks of the requirements of this game.</p>
				<div align="center">
					<button type="button" ng-click="computeAHP(game.gameId)" class="btn btn-lg btn-success">Compute AHP</button>
					<div ng-repeat="(key, data) in ahpResult">
						{{key}} - {{data}}
					</div>
				</div>								
			</div>
			<div class="col-md-12">
				<div align="center">
					<p>Click the button for end the game.</p>
					<button type="button" class="btn btn-lg btn-danger">End Game</button>
				</div>	
			</div>		
		</div>
	</div>