    <script src="game-requirements/js/game.js"></script>		            
	<div class="jumbotron">
      <div class="container">
        <h1>Hello!</h1>
        <p>Here you can see your statistics and your profile!</p>
      </div>
   	</div>
    
	<div class="container">			
		<div class="row" ng-controller="game">
			<div class="col-md-6">
				<h1>Game details</h1>
				<p>ID: <b>123</b></p>			
				<p>Criterias: <b>criteria 1, criteria 2, criteria 3</b></p>
				<p>Requirements: <b>requirement 1, requirement 2, requirement 3, requirement 4</b></p>
				<p>Players: <b>pippi, pluto, pa</b></p>
			</div>			
			<div class="col-md-6">
				<div>
					<button type="button" ng-click="computeAHP()" class="btn btn-lg btn-primary">Compute AHP</button>
					<div ng-repeat="(key, data) in ahpResult">
						{{key}} - {{data}}
					</div>
				</div>								
			</div>		
		</div>
	</div>