   	<script src="game-requirements/js/game.js"></script>    	
  		<div class="jumbotron">
      <div class="container">
        <h1>It's your turn, PLAY!</h1>
        <p>Choose the requirement that you consider better compared to the evaluation criteria.</p>
      </div>
   	</div> 
    <div class="container" ng-controller="play_view">
    	<div class="row">
    		<div class="col-md-12">
    			<div align="center">
    				<h3>Evaluation criteria selected: <b>{{move.criteria.name}}</b></h3>
    			</div>
    		</div>
    	</div>
    	<br>
    	<br>
    	<div class="row">
    		<div class="col-md-6">	
				<div class="panel panel-primary">
				  <div class="panel-heading">First requirement</div>
				  <div class="panel-body">
						<p><b>Requirement name:</b> {{move.firstRequirement.name}}</p>
						<p><b>Requirement description:</b> {{move.firstRequirement.description}}</p>
				  </div>
				</div>
				<div align="center">
					<a href="#/game-requirements/user_moves" ng-click="addRequirement(move.firstRequirement.requirementId)" class="btn btn-lg btn-success">Choose First</a>
				</div>					
			</div>	
	    	<div class="col-md-6">	
				<div class="panel panel-primary">
				  <div class="panel-heading">Second requirement</div>
				  <div class="panel-body">
						<p><b>Requirement name:</b> {{move.secondRequirement.name}}</p>
						<p><b>Requirement description:</b> {{move.secondRequirement.description}}</p>   	    	
				  </div>
				</div>
				<div align="center">
					<a href="#/game-requirements/user_moves" ng-click="addRequirement(move.secondRequirement.requirementId)" class="btn btn-lg btn-success">Choose Second</a>		
				</div>				
			</div>
			<div class="row">
				<div class="col-md-12">
				    <label class="radio" ng-repeat="requirementsChoice in requirementsChoices">
				      <input type="radio" ng-model="selectedRequirementsChoice.selected" ng-value="{{requirementsChoice.requirementsChoiceId}}" name="radioRequirementsChoices">{{requirementsChoice.description}}
				    </label>
				</div>
				<div align="center">
					<a href="#/game-requirements/user_moves" ng-class="{disabled: selectedRequirementsChoice.selected == 0}" class="btn btn-lg btn-success">Submit</a>
				</div>	
			</div>			
		</div>								
    </div>