<!doctype html>
<html>
<head>
<title>Supersede</title>
<link href="js/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="css/wp5app.css" rel="stylesheet">
<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
</style>
</head>

    <body ng-app="w5app" ng-cloak class="ng-cloak">
        
        <nav class="navbar navbar-inverse">
		  <div ng-controller="navigation" class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#/">Supersede</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li><a href="#/">Home</a></li>
		        
		        <li ng-repeat="profile in profiles | orderBy:'name'" class="dropdown" ng-show="authenticated">
			    	<a href="" class="dropdown-toggle" data-toggle="dropdown">{{profile.name}}<b class="caret"></b></a>
			    	<ul class="dropdown-menu" ng-show="applications[profile.name].length > 0">
				        <li ng-repeat="appl in applications[profile.name]"><a ng-href="#/{{appl.name}}/{{appl.mainPage}}">{{appl.name}}/{{appl.mainPage}}</a></li>
				   	</ul>
			    </li>
			    
		      </ul>
		      
		      <ul class="nav navbar-nav navbar-right">
		     	
		     	<li ng-show="authenticated">
		     		<a href="" class="dropdown-toggle" data-toggle="dropdown">{{notificationsCount}} <span class="glyphicon glyphicon-comment"></span></a>
		     		<ul class="dropdown-menu">
				        
				        <li class="dropdown-inline" ng-repeat="notif in notifications | orderBy:'creationTime' | limitTo:5">
				        	<a ng-click="readNotification()"><span class="glyphicon glyphicon-check"></span></a>
				        	<a>{{notif.message}}</a>
				        	<a ng-click="deleteNotification()"><span class="glyphicon glyphicon-remove"></span></a>
				        </li>
				        
				        <li>
				        	<a href="#/notifications">Show all</a>
				        </li>
				   	</ul>
		     	</li>
		        
		        <li ng-show="!(authenticated)"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			    <li ng-show="authenticated"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
        
        <div ng-view class="container"></div>
        
        <script src="js/jquery-2.1.4.min.js" type="text/javascript"></script>
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/angular-route.min.js" type="text/javascript"></script>
        <script src="js/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/w5app.js"></script>
        
    </body>
</html>