<script src="game-requirements/js/game.js"></script>		    
  		<div class="jumbotron">
      <div class="container">
        <h1>We need your argumentation!</h1>
        <p>Choose an existing argumentation or insert one for support your choice.</p>
      </div>
   	</div>   
    <div class="container" ng-controller="argue_view">
    	<div class="row">
    		<div class="col-md-12">
    			<div align="center">
    				<h3>Your selected requirement: <b>REQUIREMENT#1</b></h3>
    				<br>
    				<p>The other requirement is: <b>REQUIREMENT#2</b></p>
    			</div>
    		</div>
    	</div>
    	<br>
    	<br>
		<div class="row">
			<div class="col-md-12">
    			<div align="center">
					<h1>Why is it better than the other?</h1>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">				  					  
				  <div class="radio">
			          <label>
				      	<input type="radio" name="argumentChoice" value="existing" ng-model="argumentChoice">
				      	Choose an existing argument
			          </label>
			      </div>
				  </div>
				  <div class="panel-body">
						<select class="form-control" ng-model="selectedArgument" ng-options="selectedArgument as selectedArgument.content for selectedArgument in arguments" >
				 	   	 	<option style="display:none" value="">Select an argument</option>
				    	</select>
				    	
				    	<h3>Selected argument: <font color="green">{{selectedArgument.content}}</font></h3>	   	    	
				  </div>
				</div>	
			</div>	
	    	<div class="col-md-6">	
				<div class="panel panel-primary">
				  <div class="panel-heading">			  	
				  <div class="radio">
			          <label>
				      	<input type="radio" name="argumentChoice" value="insert" ng-model="argumentChoice">
				      	Insert a personal argument
			          </label>
			      </div>
				  </div>
				  <div class="panel-body">
						<textarea class="form-control" rows="5" ng-model="argumentContent"></textarea>   	    	
				  </div>
				</div>					
			</div>	
		</div>
		<div class="row">
			<div class="col-md-12">
				<div align="center">
					<a href="#/game-requirements/user_moves" ng-click="sendArgument()" class="btn btn-lg btn-success" role="button">Send</a>
				</div>
			</div>
		</div>								
    </div>    
    <br>
   	<br>
   	<br>
   	<br>