<script src="game-requirements/js/game.js"></script>		    
  		<div class="jumbotron">
      <div class="container">
        <h1>It's your turn, JUDGE!</h1>
        <p>There is a conflict, choose what you want to do to solve it!</p>
      </div>
   	</div>
    
    <div class="container" ng-controller="judge_view">
    	<div class="row">
    		<div class="col-md-12">
    			<div align="center">
    				<h3>Evaluation criteria selected: <b>{{judgeMove.move.criteria.name}}</b></h3>
    			</div>
    		</div>
    	</div>
    	<br>
    	<br>
    	<div class="row">
    		<div class="col-md-6">	
				<div class="panel panel-primary">
				  <div class="panel-heading">First requirement choosen</div>
				  <div class="panel-body">
						<p>{{judgeMove.move.firstPlayerChooseRequirement.name}}</p>
				  </div>
				</div>				
			</div>	
	    	<div class="col-md-6">	
				<div class="panel panel-primary">
				  <div class="panel-heading">Second requirement choosen</div>
				  <div class="panel-body">
						<p>{{judgeMove.move.secondPlayerChooseRequirement.name}}</p>   	    	
				  </div>
				</div>			
			</div>			
		</div>
		<div class="row">
			<div class="col-md-12">
    			<div align="center">
					<h1>What do you want to do?</h1>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
				  <div class="panel-heading">Ask arguments</div>
				  <div class="panel-body">
						<p>Ask at the players for an argument.</p>   	    	
				  </div>
				</div>	
			  	<div align="center">
			  		<a href="#/game-requirements/judge_moves" ng-click="needArguments()" class="btn btn-lg btn-success" role="button">Need arguments</a>
				</div>	
			</div>	
	    	<div class="col-md-6">	
				<div class="panel panel-primary">
				  <div class="panel-heading">Give an opinion</div>
				  <div class="panel-body">
						<p>Give your personal opinion, selecting the requirement that for you is right.</p>   	    	
				  </div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div align="center">
							<a href="#/game-requirements/judge_moves" ng-click="addRequirement(judgeMove.move.firstRequirement.requirementId)" class="btn btn-lg btn-success" role="button">Choose first requirement</a>
						</div>
					</div>
					<div class="col-md-6">
						<div align="center">
							<a href="#/game-requirements/judge_moves" ng-click="addRequirement(judgeMove.move.secondRequirement.requirementId)" class="btn btn-lg btn-success" role="button">Choose second requirement</a>
						</div>
					</div>
				</div>					
			</div>	
		</div>							
    </div>
    <br>
   	<br>
   	<br>
   	<br>