      	<script src="game-requirements/js/game.js"></script>
	    <div class="container" ng-controller="judge_moves">
	    	<div class="row">
		    	<h1>Judge available moves</h1>			
				<table class="table table-striped table-condensed table-hover">
					<thead>
						<tr>
							<th class="id">Id&nbsp;</th>
							<th class="name">Move - Name&nbsp;</th>
							<th class="name">Need Arguments&nbsp;</th>
							<th class="name">Gave Opinion&nbsp;</th>
							<th class="name">Finish&nbsp;</th>													
						</tr>
					</thead>
			
					<tbody>
						<tr	ng-repeat="judgemove in judgemoves | filter:{finish:false}">
							<td>{{judgemove.judgeMoveId}}</td>
							<td>{{judgemove.move.name}}</td>
							<td>{{judgemove.needArguments}}</td>
							<td>{{judgemove.gaveOpinion}}</td>
							<td>{{judgemove.finish}}</td>
							<td>
								<div>
									<a href="#/game-requirements/judge_view?judgeMoveId={{judgemove.judgeMoveId}}" class="btn btn-lg btn-success" role="button">Judge</a>
								</div>
							</td>
						</tr>
					</tbody>		
				</table>	
			</div>
			<!--  
			<div class="row">
		    	<h1>Judge finished moves</h1>			
				<table class="table table-striped table-condensed table-hover">
			
					<thead>
						<tr>
							<th class="id">Id&nbsp;</th>
							<th class="name">Name&nbsp;</th>
							<th class="name">Start Time&nbsp;</th>
							<th class="name">Timer (sec)&nbsp;</th>
							<th class="name">Finish&nbsp;</th>
							<th class="name">Criteria&nbsp;</th>
							<th class="name">REQ #1&nbsp;</th>	
							<th class="name">REQ #2&nbsp;</th>	
							<th class="name">Player #1&nbsp;</th>	
							<th class="name">Player #2&nbsp;</th>														
						</tr>
					</thead>
			
					<tbody>
						<tr	ng-repeat="move in moves | filter:{finish:true}">
							<td>{{move.moveId}}</td>
							<td>{{move.name}}</td>
							<td>{{move.startTime | date:'medium'}}</td>
							<td>{{move.timer}}</td>
							<td>{{move.finish}}</td>
							<td>{{move.criteria.name}}</td>					
							<td>{{move.firstRequirement.content}}</td>
							<td>{{move.secondRequirement.content}}</td>
							<td>{{move.firstPlayer.name}}</td>
							<td>{{move.secondPlayer.name}}</td>
						</tr>
					</tbody>		
				</table>	
			</div>
			-->
	    </div>