       	<script src="game-requirements/js/game.js"></script>      	        
   		<div class="jumbotron">
	      <div class="container">
	        <h1>It's time to create a move!</h1>
	        <p>Here you can create your move and set all the parameters.</p>
	      </div>
    	</div>
	    
	    <div class="container" ng-controller="move_creation">
	    	<h3>First step</h3>
	    	<div class="row">
	    		<div class="col-md-6">	
					<div class="panel panel-primary">
					  <div class="panel-heading">Insert timer</div>
					  <div class="panel-body">
					  		<!-- 
					    	<label>Move name</label>
      						<input type="text" class="form-control" ng-model="moveName">
      						<br>
      						 -->
      						<label>Timer</label>
      						<input type="number" class="form-control" ng-model="moveTimer">
					  </div>
					</div>			
				</div>	
		    	<div class="col-md-6">	
					<div class="panel panel-primary">
					  <div class="panel-heading">Select a criteria for the evaluation</div>
					  <div class="panel-body">
					    <select class="form-control" ng-model="selectedCriteria" ng-change="selectedCriteriaChanged()" ng-options="selectedCriteria as selectedCriteria.name for selectedCriteria in valutationCriterias">
			    	   	 	<option style="display:none" value="">Select a criteria</option>
		 	   	    	</select>
		 	   	    	
		 	   	    	<h3>Selected criteria: <font color="green">{{selectedCriteria.name}}</font></h3>
					  </div>
					</div>			
				</div>			
			</div>
			<hr>
			<h3>Second step</h3>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
					  <div class="panel-heading">Select two requirements</div>
					  <div class="panel-body">
					    <div class="row">
					    	<div class="col-md-12">
						    	<select class="form-control" ng-model="selectedFirstRequirement" ng-options="selectedFirstRequirement as selectedFirstRequirement.content for selectedFirstRequirement in requirements">
					    	   	 	<option style="display:none" value="">Select the first requirement</option>
				 	   	    	</select>
				 	   	    	<h3>Selected requirement #1: <font color="green">{{selectedFirstRequirement.content}}</font></h3>
			 	   	    	</div>
					    </div>
					    <div class="row">
					    	<div class="col-md-12">
						    	<select class="form-control" ng-model="selectedSecondRequirement" ng-options="selectedSecondRequirement as selectedSecondRequirement.content for selectedSecondRequirement in requirements">
					    	   	 	<option style="display:none" value="">Select the second requirement</option>
				 	   	    	</select>
				 	   	    	<h3>Selected requirement #2: <font color="green">{{selectedSecondRequirement.content}}</font></h3>
					    	</div>
					    </div>
					  </div>
					</div>			
				</div>
			</div>
			<hr>
			<h3>Third step</h3>			
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
					  <div class="panel-heading">Select two players</div>
					  <div class="panel-body">
					    	<div class="row">
					    		<div class="col-md-6">
					    			<select class="form-control" ng-model="selectedPlayerOne" ng-options="selectedPlayerOne as selectedPlayerOne.name for selectedPlayerOne in users">
						    	   	 	<option style="display:none" value="">Select the first player</option>
					 	   	    	</select>					 	   	    	
					 	   	    	<h3>Selected player #1: <font color="green">{{selectedPlayerOne.name}}</font></h3>
					    		</div>
					    		<div class="col-md-6">
					    			<select class="form-control" ng-model="selectedPlayerTwo" ng-options="selectedPlayerTwo as selectedPlayerTwo.name for selectedPlayerTwo in users">
						    	   	 	<option style="display:none" value="">Select the second player</option>
					 	   	    	</select>				   	    	
					 	   	    	<h3>Selected player #2: <font color="green">{{selectedPlayerTwo.name}}</font></h3>
					    		</div>
					    	</div>
					  </div>
					</div>	
				</div>
			</div>
			<div align="right">
				<a href="#/game-requirements/home" ng-click="createMove()" class="btn btn-lg btn-success" role="button">Submit Move</a>
			</div>	
	    </div>
	    <br>
		<br>	
		<br>	
		<br>		    