<script src="admin-user-manager-app/js/admin-user-manager-app.js"></script>
<form ng-controller="users-admin" ng-submit="createUser()">

	<div class="well">
		<fieldset>
			<div class="control-group">
				<!-- Username -->
				<label class="control-label" for="username">Username</label>
				<div class="controls">
					<input type="text" ng-model="user.username" placeholder="" class="input-xlarge">
					<p class="help-block">Please provide username</p>
				</div>
			</div>
			
			<div class="control-group">
				<!-- Username -->
				<label class="control-label" for="firstname">First Name</label>
				<div class="controls">
					<input type="text" ng-model="user.firstName" placeholder="" class="input-xlarge">
					<p class="help-block">Please provide first name</p>
				</div>
			</div>
			
			<div class="control-group">
				<!-- Username -->
				<label class="control-label" for="lastname">Last Name</label>
				<div class="controls">
					<input type="text" ng-model="user.lastName" placeholder="" class="input-xlarge">
					<p class="help-block">Please provide last name</p>
				</div>
			</div>

			<div class="control-group">
				<!-- E-mail -->
				<label class="control-label" for="email">E-mail</label>
				<div class="controls">
					<input type="text" ng-model="user.email" placeholder=""
						class="input-xlarge">
					<p class="help-block">Please provide E-mail</p>
				</div>
			</div>

			<div class="control-group">
				<!-- Password-->
				<label class="control-label" for="password">Password</label>
				<div class="controls">
					<input type="password" ng-model="user.password" placeholder=""
						class="input-xlarge">
					<p class="help-block">Password should be at least 4 characters</p>
				</div>
			</div>

			<div class="control-group">
				<!-- Password -->
				<label class="control-label" for="password_confirm">Password (Confirm)</label>
				<div class="controls">
					<input type="password" ng-model="user.confirm_password"
						placeholder="" class="input-xlarge">
					<p class="help-block">Please confirm password</p>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<div ng-repeat="profile in profiles | orderBy:'name'">
						<input type="checkbox" ng-model="user.profiles[$index]" ng-true-value="{{profile}}" ng-false-value="{{undefined}}" /> {{profile.name}}
					</div>
				</div>
			</div>

			<div class="control-group">
				<!-- Button -->
				<div class="controls">
					<button type="submit" class="btn btn-success">Add user</button>
				</div>
			</div>
		</fieldset>
	</div>
</form>
