<script src="admin-user-manager-app/js/edit_user.js"></script>
<form ng-controller="edit_user" ng-submit="editUser()">

	<div>
		<h1>Edit User</h1>
		<jqx-grid jqx-create="createWidget" jqx-settings="gridSettings"></jqx-grid>
	</div>

	<pre>{{user || JSON}}</pre>
	<pre>{{profiles || JSON}}</pre>

	<div class="well">
		<fieldset>
			
			<div class="control-group">
				<!-- Username -->
				<label class="control-label" for="firstname">First Name</label>
				<div class="controls">
					<input type="text" ng-model="user.firstName" placeholder="" class="input-xlarge">
					<p class="help-block">Please provide first name</p>
				</div>
			</div>
			
			<div class="control-group">
				<!-- Username -->
				<label class="control-label" for="lastname">Last Name</label>
				<div class="controls">
					<input type="text" ng-model="user.lastName" placeholder="" class="input-xlarge">
					<p class="help-block">Please provide last name</p>
				</div>
			</div>

			<div class="control-group">
				<!-- E-mail -->
				<label class="control-label" for="email">E-mail</label>
				<div class="controls">
					<input type="text" ng-model="user.email" placeholder=""
						class="input-xlarge">
					<p class="help-block">Please provide E-mail</p>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<div ng-repeat="profile in profiles | orderBy:'name'">
						<input type="checkbox" ng-model="user.profiles[profile.profileId]" ng-true-value="{{profile}}" ng-false-value="{{undefined}}" /> {{profile.name}}
					</div>
				</div>
			</div>

			<div class="control-group">
				<!-- Button -->
				<div class="controls">
					<button type="submit" class="btn btn-success">Save user</button>
				</div>
			</div>
		</fieldset>
	</div>
</form>
